<div class="main-container">
  <form action="search">

    <div class="input label city">
      <label for="city">I'm in</label>
      <input class="search-input" type="text" placeholder="Where do you start your trip?" name="city" value="Amsterdam">
    </div>

    <div class="input label artist">
      <label for="artist">I want to follow</label>
      <input id="id-artist" class="search-input" type="text" placeholder="Who is the artist you love?" name="artist"
        value="Aurora">
    </div>

  </form>

  <button id="btn-search-events">Search Events
  </button>

  <div class="artist-container">
    <div>
      <h2 id="artist-name"></h2>
    </div>
    <div>
      <img id="img-artist-small" src="" alt="">
    </div>

  </div>
  <div class="route-container" id="route-container">
    <div class="starting-point">
      <p> Amsterdam </p>
    </div>

    <div class="empty-point">
      <p>Next destination</p>
    </div>
    <button id="btn-create-route" type="button" class="active disabled">Go!</button>
  </div>



  <div>
    <div id="event-container">
    </div>
  </div>
</div>